<div class="input-field cancel_itinerary_cont input-field col s3" >
  <%= link_to cancel_itinerary_path(@itinerary), 
    class: 'waves-effect waves-light btn right red darken-1 tooltipped',
    data: { position: 'bottom', delay: '50', tooltip: 'Cancel Itinerary' } do %>

    Cancel Itinerary

  <% end %>
</div>

