<div class="input-field copy_itinerary_cont input-field col s3" >
  <a
    id="CopyItineraryBtn"
    class="waves-effect waves-light btn right deep-purple darken-1 modal-trigger tooltipped"
    data-position="bottom"
    data-delay="50"
    data-tooltip="Copy Itinerary"
    href="#copy_itinerary_modal">

    Copy Itinerary

  </a>
</div>

