<div class="input-field col s2">
  <%= link_to 'Customer Interactions', customer_interactions_itinerary_path(params[:id]), class: "input-field waves-effect waves-light btn left deep-purple darken-1 col" %>
</div>



