<div class="input-field email_quote_modal_cont input-field col" >
  <a
    id="EmailQuoteBtn"
    class="waves-effect waves-light btn right deep-purple darken-1 modal-trigger tooltipped"
    data-position="bottom"
    data-delay="50"
    data-tooltip="Email Quote"
    href="#email_quote_modal">

    Email Quote

  </a>
</div>