<a
  id="EmailQuoteBtn"
  class="input-field waves-effect waves-light btn deep-purple darken-1 modal-trigger tooltipped"
  data-position="bottom"
  data-delay="50"
  data-tooltip="Email Quote"
  href="#email_quote_modal">

  Email Quote

</a>
