<div class="input-field col s3" >
  <a
    id="RequestCustomerUpdatesBtn"
    class="input-field waves-effect waves-light btn deep-purple darken-1 modal-trigger tooltipped"
    data-position="bottom"
    data-delay="50"
    data-tooltip="Copy Itinerary"
    href="#request_customer_updates_modal">

    Request Customer Updates
  </a>
</div>
