<% provide(:title, 'Booking History') %>
<div class="row">
  <%= render partial: 'booking_history_entity', locals: { entity: BookingHistory, collect: @booking_history } %>
</div> 

<div class="row">
  <div class="input-field col s6" >
    <a href="<%= edit_itinerary_path @itinerary %>"  class="waves-effect waves-light btn left deep-purple darken-1" >Back to Itinerary</a>
  </div>
</div>
