<% provide(:title, 'Itineraries') %>

<div class="divider"></div>

<div class="section">
  <div id="table-datatables">
   <div class="row">
      <div class="col s12 m12 l12">
        <table id="ajax-data-table-simple" class="responsive-table display", data-source="<%= itineraries_path(format: :json) %>" >
          <thead>
            <tr>
              <th>Name</th>
              <th>Lead Customer</th>
              <th>Created</th>
              <th>Updated</th>
              <th>Owner</th>
              <th>Status</th>
              <th class="no-sort">Number Products</th>
              <th class="no-sort">Edit</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
