
<style type="text/css">
* { margin:0; padding:0;} body { background:#fff;}
.bodWrap { width:902px; margin:0 auto; padding:45px; background:#fff; box-shadow:0 10px 5px 0 #b3b5ba; font-family: 'Droid Sans';}
.tc { text-align:center;}
.listing { margin:67px 0 110px 0;} .m0 { margin-top:0;}
.listing li { list-style:inside; font-size:20px; color:#424043; line-height:28px; padding:6px 0 10px 14px; font-family: 'Droid Sans';}
.listing li:nth-child(odd) { background:#f3f8f1;}

.bodWrap { -webkit-print-color-adjust:exact;}

.header { min-height:872px; position:relative;}
.logo { position:absolute; right:22px; top:0;} .clear100 { clear:both; height:100px;} .clear50 { clear:both; height:30px;} .clear45 { clear:both; height:45px;}
.clear90 { clear:both; height:90px;} .clear75 { clear:both; height:75px;} .clear60 { clear:both; height:60px;} .clear155 { clear:both; height:155px;}

.bigBigtitle1 { color:#9cbd52; font-size:55px; line-height:30px; font-family: 'Raleway'; font-weight: 400;}
.bigBigtitle2 { color:#414143; font-size:34px; line-height:30px; font-family: 'Raleway'; font-weight: 400;}
.bigBigtitle3 { color:#404042; font-size:28px; line-height:30px; font-family: 'Raleway'; font-weight: 400;}
.bigBigtitle4 { color:#9cbd52; font-size:40px; line-height:30px; font-family: 'Raleway'; font-weight: 400; padding-bottom:30px;}
.changecolor { color:#404042;}

.border { border-top:1px solid #000; padding-top: 12px; text-align: right;}
.detailsbox { margin:40px 0;} .headdetails { color:#414143; font-size:28px; font-weight:800; margin-bottom:40px; page-break-inside: avoid;}
.imgdetails { float:left; margin-right:40px; width:260px;} .contdetails { float:left; width:65%;} .clear { clear:both;}
.imgdetails img{width:100%;}
.title { color:#97bd4e; font-size:20px; line-height:30px; font-weight: 800;}
.title2 { color:#97bd4e; font-size:18px; line-height:30px; font-weight: 800;}
.caption { color:#424043; font-size:18px; line-height:28px; font-weight: 400;}
.page-break { display:block; clear:both; page-break-after:always; }
</style>

<!--  google font  -->
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">
<meta charset='utf-8' />

<body> 
<div class="bodyWrap">
<div class="header">
    <img class="" src="/assets/noImage-2b0bedd068e35c7b554c7931925d36a9.jpg" alt="Noimage" />
    <a class="logo" href="#"><img class="" src="https://dl.dropboxusercontent.com/1/view/nal6xbkl20ohn6v/Eclipse%20database/images/logo.png" alt="Logo" /></a>
</div>

<div class="clear100"></div>
<p class="bigBigtitle1">Antarctica</p>
<div class="clear50"></div>
<p class="bigBigtitle2">10 Dec 2015 - 12 Dec 2015,  Mr Tim Farquhar</p>
<div class="clear155"></div>
<p class="bigBigtitle3">Prepared by Tim </p>
<div class="page-break"></div>
<p class="bigBigtitle4">Introduction</p>
<div class="border"></div>
<div class="clear75"></div>
<p class="bigBigtitle2">Introduction</p>
<div class="clear50"></div>
<p class="caption">
  Thanks for requesting your quote with Eclipse Travel, travel specialists for amazing destinations such as Antarctica, the Arctic and Latin America. 
<br />
<br />I am looking forward to helping you organise your trip and have pleasure in forwarding a suggested itinerary below and quotation based upon your requirements. 
<br />
<br />Please note that this is a quotation only, is valid for 7 days and availability cannot be guaranteed at this stage. All ground arrangements will be requested upon receipt of your deposit.
</p>

<div class="clear75"></div>
<p class="bigBigtitle2">Quote Details</p>
<div class="clear50"></div>
<p class="caption"><strong>Trip Dates: </strong>10 Dec 2015 - 12 Dec 2015<p>
<p class="caption"><strong>Number of Passengers: </strong>2<p>
<p class="caption"><strong>Lead Customer: </strong>Mr Tim Farquhar<p>
<p class="caption"><strong>Email: </strong>timbho2@gmail.com<p>
<p class="caption"><strong>Consultant: </strong>Tim<p>

<div class="page-break"></div>

<p class="bigBigtitle4">Confirmation of services</p>
<div class="border"></div>
<div class="clear75"></div>
<p class="bigBigtitle2">Trip Summary</p>
<ul class="listing"> 
         <li>10 Dec 2015 - Transfer - Airport to Hotel</li>
         <li>12 Dec 2015 - Transfer - Hotel to Airport</li>
         <li>11 Dec 2015 - Exclusive Lima Tour</li>
</ul>
<div class="page-break"></div>





<div class="page-break"></div>

<p class="bigBigtitle4">Confirmation of services</p>
<div class="border"></div>
<div class="clear75"></div>
<p class="bigBigtitle2">Trip Details</p>


  
       
  <div class="detailsbox">
    
    <p class="headdetails"><span class="itinerary_date_color">10th Dec 2015</span> : Day 1 - Peru, Lima</p>
    
            <div class="detailsbox">
    
      <div class="imgdetails">&nbsp;</div>
      
    <div class="contdetails">
      <p class="title">Transfer - Airport to Hotel  Lima, Peru</p>
      <p class="caption">On arrival you will be met and transferred to your hotel</p>
        <p class="caption"><em></em></p>
      <div class="clear45"></div>
    </div>
  </div>
  
  <div class="clear"></div>
  

      
      
              
      
      

    <div class="clear"></div>
  </div>

  
       
  <div class="detailsbox">
    
    <p class="headdetails"><span class="itinerary_date_color">11th Dec 2015</span> : Day 2 - Peru, Lima</p>
    
      
      
        <div class="detailsbox">
    
      <div class="imgdetails"><img src=https://dl.dropboxusercontent.com/1/view/4jsjgln4dyd5r3g/Eclipse%20database/images/Lima%20Larco%20Herrera.jpg alt="" /></div>
      
    <div class="contdetails">
      <p class="title">Exclusive Lima Tour  Lima, Peru</p>
      <p class="caption">Depart this morning on a 5 hour sightseeing tour exploring the most impressive sights of Lima along with some of our handpicked favourites. We will start in Miraflores market, a vibrant place visited by local chefs for its wonderful variety of fresh produ</p>
        <p class="caption"><em></em></p>
      <div class="clear45"></div>
    </div>
  </div>
  
  <div class="clear"></div>
  
        
      
      

    <div class="clear"></div>
  </div>

  
       
  <div class="detailsbox">
    
    <p class="headdetails"><span class="itinerary_date_color">12th Dec 2015</span> : Day 3 - Peru, Lima</p>
    
            <div class="detailsbox">
    
      <div class="imgdetails">&nbsp;</div>
      
    <div class="contdetails">
      <p class="title">Transfer - Hotel to Airport  Lima, Peru</p>
      <p class="caption">Our representative will pick you up from your hotel and transfer you to the airport for your departure flight</p>
        <p class="caption"><em>Comment for customer</em></p>
      <div class="clear45"></div>
    </div>
  </div>
  
  <div class="clear"></div>
  

      
      
              
      
      

    <div class="clear"></div>
  </div>


<div class="page-break"></div>
    
<p class="bigBigtitle4">Accommodation Details</p>
<div class="border"></div>
<div class="clear45"></div>
    
<div class="page-break"></div>

<p class="bigBigtitle4">Pricing</p>
<div class="border"></div>
<div class="clear75"></div>
<p class="bigBigtitle2">Price Summary</p>
<div class="clear50"></div>
<p class="caption">$$$ 99999.99 </p>

<div class="clear75"></div>
<p class="bigBigtitle2">Inclusions / Exclusions / Notes</p>
<div class="clear45"></div>
<p class="bigBigtitle3">Inclusions</p>
<div class="clear50"></div>
<p class="caption"><p>Accommodation, Tours and Transfers</p>
<br /></p>


<div class="clear75"></div>
<p class="bigBigtitle3">Exclusions</p>
<div class="clear50"></div>
<p class="caption"><p>Tips, Lunches and Dinners</p>
<br /></p>

<div class="clear75"></div>
<p class="bigBigtitle3">Notes</p>
<div class="clear50"></div>
<p class="caption"><p>By accepting this quote you have agreed to our terms and conditions.</p>
<br /></p>




</div>
</body>
