<div class="btn-group pull-right">
 <a href='<%= dashboard_path %>'> <button type="button" class="btn waves-effect waves-light"><i class="fa fa-th"></i></button> </a>
 <a href='<%= dashboard_list_path %>'>  <button type="button" class="btn waves-effect waves-light"><i class="fa fa-list"></i></button> </a>
</div>
<div class="clearfix"></div>
