<% provide(:title, 'Home') %>

<div class="col s12 z-depth-4 card-panel">
  <div class="row">
    <div class="input-field col s12 center">
      <img src=<%= asset_path('trapeze-login.png') %> alt="" class="responsive-img valign profile-image-login">
    </div>
  </div>
  
  <h6>Cloud-based tour planning & management system. </h6>
  <br>
  <div class="input-field col s12 center">
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large" %>
  </div>
  <br>
  <p>Existing user? <%= link_to "Sign in", signin_path %></p>
</div>
