<% provide(:title, 'Edit ' + params[:type]) %>
<h1 class="page-header">Edit <%= params[:type] %></h1>

<%= render  partial: 'form', locals: { buttontxt: "Save " + params[:type], formpath: current_product_path(@product)} %>
