<% provide(:title, 'Create ' + nice_products_name(params[:type])) %>
<h1 class="page-header">Create a <%= nice_products_name(params[:type]) %></h1>

<%= render  partial: 'form', locals: { buttontxt: "Create " + nice_products_name(params[:type]), formpath: products_path(@product)} %>
