<% provide(:title, 'All Destinations') %>
<div class="row-fluid">
  <div class="page-header">
    <%= render partial: 'admin/dashboard/entitydisplay', locals: { entity: Destination, collect: @destinations } %>
  </div>
</div> 