<% provide(:title, @destination.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1 class="page-header">
        <%= @destination.name %>
      </h1>
      <h2 text-align="left">
        <%= @destination.name %>
      </h2>
    </section>
  </aside> 
</div>