<% provide(:title, 'Customer Interactions') %>
<div class="row">
  <%= render partial: 'admin/dashboard/entitydisplay', locals: { entity: CustomerInteraction, collect: @customer_interactions } %>
</div> 