<a
  id=<%= "dismiss_btn_#{object.class.name.underscore}_#{object.id}" %>
  class="input-field waves-effect waves-light btn deep-purple darken-1 modal-trigger tooltipped"
  data-type=<%= object.class.name %>
  data-id=<%= object.id %>
  data-position="bottom"
  data-delay="50"
  data-tooltip='Dismiss Until'
  href='#dismiss_until_modal'>

  Dismiss Until

</a>