<div class="row">
  
  <div class="col offset-s1 s2">
    <a href="/admin/<%=entity.name.pluralize.downcase%>" class="btn-floating waves-effect waves-light green"> 
    <i class='mdi-action-toc'></i>
    </a> View 
  </div>
   
  <div class="col offset-s1 s2">
    <a href="/admin/<%=entity.name.pluralize.downcase%>/new" class="btn-floating waves-effect waves-light red"> 
     <i class='mdi-content-add'></i>
    </a> New 
  </div>
  
  <div class="col offset-s1 s2">
    <a href="/admin/<%=entity.name.pluralize.downcase%>/export" class="btn-floating waves-effect waves-light blue"> 
     <i class='mdi-file-file-download'></i>
    </a> Export
  </div>
  
  <div class="col offset-s1 s2">
    <a href="/admin/<%=entity.name.pluralize.downcase%>/import" class="btn-floating waves-effect waves-light blue"> 
     <i class='mdi-file-file-upload'></i>
    </a> Import 
  </div>
 
</div>
<div class="section">
  
</div> <div class="divider"></div>

