<h1>Administration</h1> 
 <div class="rails_admin"> 
<table class="table table-condensed table-striped table-hover">
  <thead>
    <tr>
    <th class="shrink model-name">Model name</th>
    <th class="records">Records</th>
    <th class="shrink controls"></th>
    </tr>
  </thead>
<tbody>
  <%= render partial: 'admin/dashboard/tablerow', locals: { entity: Carrier } %>
  <%= render partial: 'admin/dashboard/tablerow', locals: { entity: Destination } %>
  <%= render partial: 'admin/dashboard/tablerow', locals: { entity: Stopover } %>
  
</tbody>
</table>
</div>

