<h1>Administration</h1> 
<ul>
  <li><%= link_to 'Manage Carriers', admin_carriers_path %></li>
  <li><%= link_to 'Manage Stopovers', admin_stopovers_path %></li>
  <li><%= link_to 'Manage Destinations', admin_destinations_path %></li>
</ul>
