<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for(@user, size: 52) %>
        <%= @user.name %>
      </h1>
      <br>
      <br>
      <h2>
      <%= @user.email %>
      </h2>
    </section>
  </aside> 
</div>