<div class="section">
  <table class="responsive-table display">
    <thead>
      <tr>
        <% @structure.keys.each do |th_name| %>
          <th><%= th_name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'reports/destination/itinerary', collection: @itineraries %>
    </tbody>
  </table>
</div>