<% classStr = class_for_input if local_assigns.has_key? :class_for_input %>
<% classStr = "" if !local_assigns.has_key? :class_for_input %>

<div class="input-field col <%=col%>">
  <input disabled value=<%=value%> id="disabled" type="text" class="validate <%=classStr%>">
  <label for="disabled"><%=label%></label>
</div>