<div class="input-field col s6">
  <% if local_assigns.has_key? :icon %>
   <i class="<%= icon %>"></i>
  <% end %>
  
  <%= f.number_field field.to_sym, value: number_with_precision(value, strip_insignificant_zeros: true, precision: 2), step: 0.1 %>

  <% if local_assigns.has_key? :name %>
    <%= f.label field.to_sym %>
  <% else %>
   <%= f.label field.to_sym %>
  <% end %>
</div>

