<% if local_assigns.has_key? :name %>
<div class="form-group">
  <%= f.label field.to_sym, name %>
  <div class="col-sm-6">  <%= f.text_field field.to_sym %>  </div>
</div>
<% else %>

<div class="form-group">
  <%= f.label field.to_sym %>
  <div class="col-sm-6">  <%= f.text_field field.to_sym %>  </div>
</div>

<% end %>