<div class="form-group">
  <div class="input-daterange input-group" id="datepicker">
    <%= f.text_field from_name, class: "input-sm form-control" %>
    <span class="input-group-addon">to</span>
    <%= f.text_field to_name, class: "input-sm form-control" %>
  </div>
</div>
