<% provide(:title, 'Current Overrides') %>
<h6>Current Overrides</h6>

<div id="table-datatables">
 <div class="row">
    <div class="col s12 m12 l12">
      <table class="responsive-table display" >
        <thead>
          <tr>
            <th>Code</th>
            <th>Rate Set</th>
            <th>Todays Actual Rate</th>
          </tr>
        </thead>
        <tbody>
          <% @setting.exchange_rates.each do |ex| %>
          <tr>
            <td><%= ex.currency_code %></td>
            <td><%= ex.exchange_rate %></td>
            <td><%= ex.getTodayExRate %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
 </div>