<% provide(:title, 'Email Settings') %>

<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel">


         
         <%= render  partial: 'email_triggers' %>
         
        
    
    </div>
  </div> 
</div>          