<% provide(:title, 'Create Customer') %>
<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel">
      <%= render  partial: 'form', locals: { buttontxt: "Create Customer"} %>
    </div>
  </div>
</div>