<li>
  <%= link_to tour.tourName, tour %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", tour, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>