<% provide(:title, @tour.tourName) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @tour.tourName %>
      </h1>
      <br>
      <br>
      <h2>
      <%= @tour.destination %>
        <br>
      <%= @tour.country %>
        <br>
      <%= @tour.tourPrice %>
        <br>
      </h2>
    </section>
  </aside> 
</div>