<% provide(:title, 'Edit Agent') %>
<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel">
       <%= render  partial: 'form', locals: { buttontxt: "Update Agent", action: "update" } %>
      </div>
  </div>
</div>