<% provide(:title, 'Agents') %>

<div class="section">
  <a href=<%= new_agent_path %> ><button type="button" class="waves-effect waves-light btn">Create New Agent</button></a>
</div>

<div class="divider"></div>

<div class="section">
  <div id="table-datatables">
   <div class="row">
      <div class="col s12 m12 l12">
        <table id="ajax-data-table-simple" class="responsive-table display", data-source="<%= agents_path(format: :json) %>" >
          <thead>
            <tr>
              <th>Agent</th>
              <th>Contact first name</th>
              <th>Contact last name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>