<% provide(:title, 'Create Agent') %>
<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel">
        <%= render  partial: 'form', locals: { buttontxt: "Create an Agent", action: "create"} %>
      </div>
  </div>
</div>