<div id="versions">
  <% versions = object.versions.paginate(:page => 1, :per_page => 20) %>
  <% if !versions.nil? && !versions.empty? %>
  <h4>History</h4>
  <% end %>
    <div>
      <div class="list">
        <%= render :partial => "versions/version", :collection => versions %>
      </div>
      <%= paginate( collection: versions, id: 'versions_pagination', params: { action: 'versions' } ) %>
    </div>
</div>