<div class="tab-content">
              <div class="tab-pane active" id="type">
              		<h1 class="text-center">Choose a type of product to create:</h1>
              		<ul class="list-of-actions">
              			<li>
                        	<button type="button" class="btn btn-default">Select</button>
                    		<h2>Activity</h2>
                            <p>Short or specific activities such as skydiving, balloon flight, scuba diving or other sporting activitives</p>
                        </li>
                        <li>
                        	<a href=<%#= products_tours_path %>><button type="button" class="btn btn-default">Select</button></a>
                    		<h2>Day Tour</h2>
                            <p>Any type of short tour, for example walking city tour, bus tour, guided bike ride, sightseeing tour, guided kayak tour etc</p>
                        </li>
                        <li>
                        	<a href=<%#= products_tours_path %>><button type="button" class="btn btn-default">Select</button></a>
                    		<h2>Multi-Day Tour </h2>
                            <p>Longer tours which last for multiple days. For example hiking expeditions or excursions. </p>
                        </li>
                        <li>
                        	<a href=<%= products_transfers_path %>><button type="button" class="btn btn-default">Select</button></a>
                    		<h2>Transfer</h2>
                            <p>Tickets which take the holder form one place to another and give a retirn period. for example airport shuttle or boat transfer.</p>
                        </li>
                        <li>
                        	<a href=<%= products_flights_path %>><button type="button" class="btn btn-default">Select</button></a>
                    		<h2>Flight</h2>
                            <p>Domestic and international flights.</p>
                        </li>
                        <li>
                        	<a href=<%= products_cruises_path %>><button type="button" class="btn btn-default">Select</button></a>
                    		<h2>Cruise</h2>
                            <p>A voyage on a ship or boat taken for pleasure or as a holiday and usually calling in at several places.</p>
                        </li>
                        <li>
                        	<a href=<%= products_hotels_path %>><button type="button" class="btn btn-default">Select</button></a>
                    		<h2>Hotel</h2>
                            <p>Hotels, motels, hostels, bed and breakfasts etc</p>
                        </li>
                        <li>
                        	<button type="button" class="btn btn-default">Select</button>
                    		<h2>Custom product</h2>
                            <p>reate a product completely from scratch with all options available. </p>
                        </li>
                    </ul>
              </div>
              <div class="tab-pane" id="details">
                  <div class="well well-sm">
                  	<div class="item row">
                    	<label class="col-sm-2">Product name *</label>
                        <div class="col-sm-5">
                            <div class="row">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    
                    <div class="item row">
                    	<label class="col-sm-2">Unique code</label>
                        <div class="col-sm-6">
                        	<div class="row">
                                <div class="col-sm-5">
                                	<div class="row">
                                        <input type="text" class="form-control">
                                	</div>
                                </div>
                                <em>(optional)</em>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item row">
                    	<label class="col-sm-2">Unique code</label>
                        <div class="col-sm-8">
                        	<div class="row">
                            	<div class="smalldiv">
                                        <select class="form-control">
                                        	<option>everyone</option>
                                        </select>
                                </div>
                                <div class="smalldiv">
                                        <select class="form-control">
                                        	<option>everyone</option>
                                        </select>
                                </div>
                                <div class="smalldiv">
                                        <div class="input-group">
                                          <input type="text" class="form-control">
                                          <span class="input-group-addon">$</span>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item row">
                    	<label class="col-sm-2">Advertised price</label>
                        <div class="col-sm-6">
                        	<div class="row">
                            	<div class="smalldiv">
                                        <div class="input-group">
                                          <span class="input-group-addon">$</span>
                                          <input type="text" class="form-control">
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item row">
                    	<label class="col-sm-2">Quantity</label>
                        <div class="col-sm-6">
                        	<div class="row">
                                <div class="smalldiv">
                                        <div class="input-group">
                                          <span class="input-group-addon">Min</span>
                                          <input type="text" class="form-control">
                                        </div>
                                </div>
                                <div class="smalldiv">
                                        <div class="input-group">
                                          <span class="input-group-addon">Max</span>
                                          <input type="text" class="form-control">
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item row">
                    	<label class="col-sm-2">Supplier</label>
                        <div class="col-sm-6">
                        	<div class="row">
                                <div class="col-sm-5">
                                	<div class="row">
                                        <select class="form-control">
                                        	<option>None</option>
                                        </select>
                                	</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item row">
                    	<label class="col-sm-2">Supplier Code</label>
                        <div class="col-sm-5">
                            <div class="row">
                                <input type="text" class="form-control" placeholder="SUPPLIERCODE">
                            </div>
                        </div>
                    </div>
                    
                    <div class="item row">
                    	<label class="col-sm-2">Brief description</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <textarea class="form-control" rows="3"></textarea>
                                <div class="text-right characters">240 out of 240 characters</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item row">
                    	<label class="col-sm-2">Long description</label>
                        <div class="col-sm-10">
                            <div class="row">
                            	<div class="textarea-styling">
                                    <div class="text-left">
                                        <a href="#">Bold</a> | <a href="#">Italic</a> | <a href="#">List</a> | <a href="#">Headline</a>
                                    </div>
                                    <div class="text-right">
                                        <a href="#">Switch to html view</a>
                                    </div>
                                </div>
                                <textarea class="form-control" rows="10"></textarea>
                                <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                                <div class="text-right characters">1200 out of 15000 characters</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item row">
                    	<label class="col-sm-2">Images</label>
                        <div class="col-sm-10">
                            <div class="row">
                            	<div class="upload">
                                    <p>Drag and Drop your images here<br>or <br></p>
                                     <!-- The fileinput-button span is used to style the file input field as button -->
                                    <span class="btn btn-default fileinput-button">
                                        <span>Select a file</span>
                                        <!-- The file input field used as target for the file upload widget -->
                                        <input id="fileupload" type="file" name="files[]" multiple="">
                                    </span>
                                    <br>
                                    <br>
                                    <!-- The global progress bar -->
                                    <div id="progress" class="progress">
                                        <div class="progress-bar progress-bar-success"></div>
                                    </div>
                                    <!-- The container for the uploaded files -->
                                    <div id="files" class="files"></div>
                            	</div>
                        	</div>
                            
                            <div class="row">
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> Private tour / Charter
                                    </label>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="checkbox">
                                    <label>
                                    	<div class="col-sm-3">
                                        	<div class="row">
                                              <input type="checkbox"> Requires special deposit rules
                                      		</div>
                                      	</div>
                                      	<div class="col-sm-3">
                                        <select class="form-control full-amount">
                                        	<option>full amount</option>
                                        </select>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            
                            <div class="row conditions">
                                <div class="checkbox">
                                	<label>
                                        <input type="checkbox"> Add product-specific terms and conditions
                                    </label>
                                </div>
                                <textarea class="form-control" rows="5"></textarea>
                            </div>
                            
                            <div class="row">
                                <div class="checkbox">
                                	<label>
                                        <input type="checkbox"> Add information to confirmation emails
                                    </label>
                                </div>
                                <textarea class="form-control" rows="5"></textarea>
                            </div>
                            
                            <div class="row buttons">
                                <button type="button" class="btn btn-default">Save product</button>
                                <button type="button" class="btn btn-default">Cancel</button>
                                <button type="button" class="btn btn-default">Delete</button>
                                <button type="button" class="btn btn-primary">Next →</button>
                            </div>
                            
                            
                        </div>
                    </div>
                    
                    <div class="clearfix"></div>
                  </div>
              </div>
              <div class="tab-pane" id="extras">
              	<div class="well well-sm">
                    <div class="item row">
                        <div class="col-sm-5">
                                <label>
                                    <input type="radio"> No extras - this product doesn’t have additional extras
                                </label>
                        </div>
                    </div>
                    
                    <div class="item row">
                        <div class="col-sm-5">
                                <label>
                                <input type="radio"> This product has the following extras...
                                </label>
                        </div>
                    </div>
                    
                    <div class="item row newextra">
                    	<label class="col-sm-2">New extra</label>
                        <div class="col-sm-5">
                            <div class="row">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    
                    <div class="item row">
                    	<label class="col-sm-2">Price</label>
                        <div class="col-sm-2">
                        	<div class="row">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item row">
                    	<label class="col-sm-2">Description</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <textarea class="form-control" rows="3"></textarea>
                                <div class="text-right characters">0 out of 1000 characters</div>
                                <div class="text-right"><button class="btn btn-default">+ Add new extra</button></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item row">
                    
                    <table class="table table-bordered">
                    	<tbody><tr>
                        	<td class="firstcol"><label>Order</label></td>
                            <td class="secondcol"><label>Name and description</label></td>
                            <td class="thirdcol"><label>Cost</label></td>
                            <td class="fourthcol"><label>Actions</label></td>
                        </tr>
                        <tr>
                        	<td class="firstcol"><span class="glyphicon glyphicon-sort"></span></td>
                            <td class="secondcol"><label>Photo &amp; DVD</label><br>Photos adnd DVD from your trip</td>
                            <td class="thirdcol">$20.00</td>
                            <td class="fourthcol">
                            	<a href="#"><span class="glyphicon glyphicon-pencil"></span>Change</a>
                                <a href="#" class="remove"><span class="glyphicon glyphicon-remove"></span>Remove</a>
                            </td>
                        </tr>
                    </tbody></table>
                    
                    </div>
                    
                    <div class="row buttons">
                                <button type="button" class="btn btn-default">Save product</button>
                                <button type="button" class="btn btn-default">Cancel</button>
                                <button type="button" class="btn btn-default">Delete</button>
                                <button type="button" class="btn btn-primary">Next →</button>
                    </div>
                    
                 <div class="clearfix"></div>
              	</div>
              </div>
              
              <div class="tab-pane" id="scheduling">
                <div class="well well-sm">
                
                
                    <div class="item row">
                    	<label class="col-sm-2">Dates available *</label>
                        <div class="col-sm-3">
                            <div class="row">
                                <select class="form-control">
                                    <option>Fixed dates &amp; times</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item row">
                    	<label class="col-sm-2">Availability</label>
                        <div class="col-sm-3">
                            <div class="row">
                                <select class="form-control">
                                    <option>Limited - Fixed Limit per person</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-2">
                                       <label>limit</label>
                                </div>
                            	<div class="col-sm-2">
                                	<div class="row">
                                        <input class="form-control">
                                	</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item row">
                    	<label class="col-sm-2">Dates available *</label>
                        <div class="col-sm-3">
                            <div class="row">
                                <select class="form-control">
                                    <option>automatically</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item row">
                    	<label class="col-sm-2">Minimum notice</label>
                        <div class="col-sm-6">
                            <div class="row">
                            	<div class="col-sm-2">
                                	<div class="row">
                                        <input class="form-control">
                                	</div>
                                </div>
                                <div class="col-sm-2">
                                       <label>hours</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item row">
                    	<label class="col-sm-2">Estimated Duration</label>
                        <div class="col-sm-6">
                            <div class="row">
                            	<div class="col-sm-2">
                                	<div class="row">
                                        <input class="form-control">
                                	</div>
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control">
                                        <option>minutes</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item row">
                        <div class="col-sm-12">
                            <div class="row buttons">
                                <button type="button" class="btn btn-default">Save product</button>
                                <button type="button" class="btn btn-default">Cancel</button>
                                <button type="button" class="btn btn-default">Delete</button>
                                <button type="button" class="btn btn-primary">Next →</button>
                            </div>
                            
                            
                        </div>
                    </div>
                    
                    <div class="clearfix"></div>
                  </div>
              </div>
              
              <div class="tab-pane" id="info">
              	<div class="well well-sm">
              		<div class="col-sm-12">
                		<div class="row first">
                        	<div class="col-sm-4">
                                <label>Booking Fields</label>
                                <div class="col-sm-12 second">
                                	<div class="row noborder">
                                    	<div class="col-xs-4"></div>
                                        <div class="col-xs-4"></div>
                                        <div class="col-xs-4"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-sm-12">Title</div>
                                    </div>
                                    <div class="row">
                                    	<div class="col-sm-12">First Name</div>
                                    </div>
                                    <div class="row">
                                    	<div class="col-sm-12">Middle Name</div>
                                    </div>
                                    <div class="row">
                                    	<div class="col-sm-12">Last Name</div>
                                    </div>
                                    <div class="row">
                                    	<div class="col-sm-12">Phone</div>
                                    </div>
                                    <div class="row">
                                    	<div class="col-sm-12">Mobile</div>
                                    </div>
                                    <div class="row">
                                    	<div class="col-sm-12">Fax</div>
                                    </div>
                                    <div class="row">
                                    	<div class="col-sm-12">Skype</div>
                                    </div>
                                    <div class="row">
                                    	<div class="col-sm-12">Email</div>
                                    </div>
                                    <div class="row">
                                    	<div class="col-sm-12">Gender</div>
                                    </div>
                                    <div class="row">
                                    	<div class="col-sm-12">Date of Birth</div>
                                    </div>
                                    <div class="row">
                                    	<div class="col-sm-12">Preffered Language</div>
                                    </div>
                                    <div class="row">
                                    	<div class="col-sm-12">Company Name</div>
                                    </div>
                                    <div class="row">
                                    	<div class="col-sm-12">Address</div>
                                    </div>
                                    <div class="row">
                                    	<div class="col-sm-12">City</div>
                                    </div>
                                    <div class="row">
                                    	<div class="col-sm-12">Country</div>
                                    </div>
                                    <div class="row">
                                    	<div class="col-sm-12">State/Country/REgion</div>
                                    </div>
                                    <div class="row">
                                    	<div class="col-sm-12">Postcode/ZIP</div>
                                    </div>
                                    <div class="row">
                                    	<div class="col-sm-12">Subscribe to the newsletter</div>
                                    </div>
                                    <div class="row">
                                    	<div class="col-sm-12">I agree to receive marketing emails</div>
                                    </div>
                                    <div class="row">
                                    	<div class="col-sm-12">How did you hear about us?</div>
                                    </div>
                                    <div class="row">
                                    	<div class="col-sm-12">Special Requirements </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 text-center col-white">
                                <label>Ask once per Booking</label>
                                <div class="col-sm-12 second">
                                	<div class="row">
                                    	<div class="col-xs-4 padding">Ask</div>
                                        <div class="col-xs-4 padding">Mandatory</div>
                                        <div class="col-xs-4">Show on Manifest</div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 text-center col-grey">
                                <label>Ask for each participant</label>
                                <div class="col-sm-12 second">
                                	<div class="row">
                                    	<div class="col-xs-4 padding">Ask</div>
                                        <div class="col-xs-4 padding">Mandatory</div>
                                        <div class="col-xs-4">Show on Manifest</div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                
                <div class="well well-sm well-second">
                    <div class="col-sm-12">
                		<div class="row">
                        	<div class="col-sm-4">
                                <label>Other Manifest Fields</label>
                                    	<div class="col-sm-12">
                                                Customer full name
                                        </div>
                                    	<div class="col-sm-12">
                                            Customer contast details
                                        </div>
                                    	<div class="col-sm-12">
                                            	Order details
                                        </div>
                                    	<div class="col-sm-12">
                                                Vouchers
                                        </div>
                                    	<div class="col-sm-12">
                                                Extras
                                        </div>
                                    	<div class="col-sm-12">
                                                Order amount and balance
                                        </div>
                                    	<div class="col-sm-12">
                                                Agent code
                                        </div>
                                    	<div class="col-sm-12">
                                                Special requirements
                                        </div>
                            </div>
                            <div class="col-sm-4 text-center col-white">
                                <div class="col-sm-12">
                                    Show on Manifest
                                </div>
                                <div class="col-sm-12">
                                	<input type="checkbox">
                                </div>
                                <div class="col-sm-12">
                                	<input type="checkbox">
                                </div>
                                <div class="col-sm-12">
                                	<input type="checkbox">
                                </div>
                                <div class="col-sm-12">
                                	<input type="checkbox">
                                </div>
                                <div class="col-sm-12">
                                	<input type="checkbox">
                                </div>
                                <div class="col-sm-12">
                                	<input type="checkbox">
                                </div>
                                <div class="col-sm-12">
                                	<input type="checkbox">
                                </div>
                                <div class="col-sm-12">
                                	<input type="checkbox">
                                </div>
                            </div>
                            <div class="col-sm-4 text-center col-grey">
                                <div class="col-sm-12"></div>
                                <div class="col-sm-12"></div>
                                <div class="col-sm-12"></div>
                                <div class="col-sm-12"></div>
                                <div class="col-sm-12"></div>
                                <div class="col-sm-12"></div>
                                <div class="col-sm-12"></div>
                                <div class="col-sm-12"></div>
                                <div class="col-sm-12"></div>
                            </div>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                
                <div class="well well-sm well-third">
              		<div class="col-sm-12">
                		<div class="row first">
                        	<div class="col-sm-4">
                                <label>Booking Fields</label>
                                <div class="col-sm-12 second">
                                	<div class="row noborder">
                                    	<div class="col-xs-4"></div>
                                        <div class="col-xs-4"></div>
                                        <div class="col-xs-4"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-sm-2"><i class="fa fa-sort"></i></div>
                                        <div class="col-sm-8">
                                        	<input type="text" class="form-control" placeholder="Field Label">
                                            <div class="col-sm-7">
                                            	<div class="row">
                                                    <select class="form-control">
                                                        <option>text</option>
                                                    </select>
                                            	</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 second">
                                	<div class="row noborder">
                                    	<button type="button" class="btn btn-default"><i class="fa fa-plus-circle"></i> Add another custom field</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 text-center col-white">
                                <label>Ask once per Booking</label>
                                <div class="col-sm-12 second">
                                	<div class="row">
                                    	<div class="col-xs-4 padding">Ask</div>
                                        <div class="col-xs-4 padding">Mandatory</div>
                                        <div class="col-xs-4">Show on Manifest</div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 text-center col-grey">
                                <label>Ask for each participant</label>
                                <div class="col-sm-12 second">
                                	<div class="row">
                                    	<div class="col-xs-4 padding">Ask</div>
                                        <div class="col-xs-4 padding">Mandatory</div>
                                        <div class="col-xs-4">Show on Manifest</div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                	<div class="row">
                                    	<div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                        <div class="col-xs-4"><input type="checkbox"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="item row">
                        <div class="col-sm-12">
                            <div class="row buttons">
                                <button type="button" class="btn btn-default">Save product</button>
                                <button type="button" class="btn btn-default">Cancel</button>
                                <button type="button" class="btn btn-default">Delete</button>
                                <button type="button" class="btn btn-primary">Next →</button>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
                
                
              </div>
              
              <div class="tab-pane" id="catalogs">
              
                <div class="well well-sm">

                    <div class="clearfix"></div>
                  </div>
              </div>
              
              <div class="tab-pane" id="location">
              
                <div class="well well-sm">
                	
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">
                            	<label>From/To Locations</label>
                            </div>
                            <div class="col-sm-2 text-center">
                            	Show in "From" list
                            </div>
                            <div class="col-sm-2 text-center">
                            	Show in "To" list
                            </div>
                            <div class="col-sm-1">
                            
                            </div>
                        </div>
                        <div class="row alt">
                            <div class="col-sm-6">
                            	<div class="col-sm-6">
                                	<div class="row">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 text-center">
                            	<input type="checkbox">
                            </div>
                            <div class="col-sm-2 text-center">
                            	<input type="checkbox">
                            </div>
                            <div class="col-sm-1 text-center">
                            	<a href="#">Remove</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                            	<div class="col-sm-6">
                                	<div class="row">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 text-center">
                            	<input type="checkbox">
                            </div>
                            <div class="col-sm-2 text-center">
                            	<input type="checkbox">
                            </div>
                            <div class="col-sm-1 text-center">
                            	<a href="#">Remove</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-12">
                    <div class="row noborder">
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-default"><i class="fa fa-plus-circle"></i> Add another custom field</button>
                        </div>
                    </div>
                    </div>
                    
                    <div class="item row">
                        <div class="col-sm-12">
                            <div class="row buttons">
                                <button type="button" class="btn btn-default">Save product</button>
                                <button type="button" class="btn btn-default">Cancel</button>
                                <button type="button" class="btn btn-default">Delete</button>
                                <button type="button" class="btn btn-primary">Next →</button>
                            </div>
                            
                            
                        </div>
                    </div>

                    <div class="clearfix"></div>
                  </div>
              
              
              </div>
              
              <div class="tab-pane" id="reminders">

                <div class="well well-sm">
                
                
                    <div class="item row">
                    	<label class="col-sm-2">Sent email<br>reminders *</label>
                        <div class="col-sm-3">
                            <div class="row">
                                <input type="checkbox">
                            </div>
                        </div>
                    </div>
                    
                   
                    <div class="item row">
                    	<label class="col-sm-2">When?</label>
                        <div class="col-sm-10">
                            <div class="row">
                            	<div class="col-sm-2">
                                	<div class="row">
                                        <input class="form-control">
                                	</div>
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control">
                                        <option>hours</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                	<div class="row">
                                        <label>before the booking start time</label>
                                	</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item row">
                    	<label class="col-sm-2">Additional<br>information</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item row">
                        <div class="col-sm-12">
                            <div class="row buttons">
                                <button type="button" class="btn btn-default">Save product</button>
                                <button type="button" class="btn btn-default">Cancel</button>
                                <button type="button" class="btn btn-default">Delete</button>
                                <button type="button" class="btn btn-primary">Next →</button>
                            </div>
                            
                            
                        </div>
                    </div>
                    
                    <div class="clearfix"></div>
                  </div>
                  
                  
                  
              </div>
            </div>