<li>
  <h4><%= report_row %></h4>
  <%= link_to send("reports_#{report_row.parameterize('_')}_index_path") do %>
    <%= button_tag (report_row + ' Reports'), class: 'waves-effect waves-light btn right', type: 'button', method: :get %>
  <% end %>
  <p>Reports</p>
</li>
<div class="divider"></div>