<% provide(:title, 'Reports') %>

<div class="section">
  <h5 class="text-center">Choose a type of reports to view:</h5>
  <ul class="list-of-actions">

    <%= render partial: 'reports/dashboard/report_row', collection: @collection %>

  </ul>
</div>
