<% provide(:title, 'Reports') %>

<div class="section">
  <h5 class="text-center">Choose a type of reports to view:</h5>
  <ul class="list-of-actions">
    <li>
      <h4>Enquiry</h4><a href=<%= reports_enquiries_path %>><button type="button" class="waves-effect waves-light btn right">Enquiries</button></a>
      <p>Reports</p>
    </li>
    <div class="divider"></div>
  </ul>
</div>
