<tr>
  <td><%= country.name %></td>
  <td><%= country.warnings.gsub('\n', '<br />').html_safe %></td>
  <td><%= country.vaccinations.gsub('\n', '<br />').html_safe %></td>
  <td><%= country.visa_details.gsub('\n', '<br />').html_safe %></td>
</tr>