<p class="bigBigtitle4">Flight Details</p>
<div class="border"></div>

<p class='bigBigtitle5'>
  <%= "Please check www.viewtrip.com with booking reference: #{@itinerary.flight_reference}" %>
</p>

<div class="page-break"></div>
