<p class="bigBigtitle4">Flight Details</p>
<div class="border"></div>

<p class='bigBigtitle5'>
  Please check 
  <span class='link-color'> www.viewtrip.com </span> 
  with booking reference: 
  <span class='booking-color'><%= @itinerary.flight_reference.presence || 'N/A' %></span>
</p>
<div class="clear50"></div>

<p class="bigBigtitle4">Supplier Details</p>
<div class="border"></div>

<% @itinerary_price_items = @itinerary.itinerary_price.try(:supplier_itinerary_price_items).try(:joins, :supplier) %>

<% if @itinerary_price_items.present? %>
    <%= render partial: 'itineraries/print_itinerary/itinerary_price_item', collection: @itinerary_price_items %>
<% end %>

<div class="page-break"></div>
