
<div class="row">
  <br>
  <div><strong><%= "Spend the night at: #{info.get_product_name} - #{info.get_product_destination}, #{info.get_product_country}" %></strong></div>  
  
  <table>
    <td style="width: 70%;"><%= "#{info.get_product_description}"%></td>
    <% if !info.product.remote_url.blank? %>
      <td style="width: 30%;"><img src=<%=info.product.get_dropbox_image_link%> class="product_image_mini"></td>
    <% end %>
  </table>
</div>

