<p class="bigBigtitle4">Supplier Details</p>
<div class="border"></div>

<% @itinerary_price_items = @itinerary.itinerary_price.try(:supplier_itinerary_price_items).joins(:supplier) %>

<% if @itinerary_price_items.present? %>
  <table style="border: 1px solid black;">

    
    <tr>
      <th>Supplier Name</th>
      <th>Contact Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Booking Reference</th>
    </tr>

    <%= render partial: 'itineraries/print_itinerary/itinerary_price_item', collection: @itinerary_price_items %>

  </table>
<% end %>

<div class="page-break"></div>