<%if info%>
<p class="title"><%= "#{info.get_itinerary_header_details_cruiseday(preFix)}" %></p>
<% if info.has_meal_inclusions %>
  <p><strong><%= "Includes: #{info.get_meal_inclusions}" %></strong></p>
<% end %>  
<% if info.comment_for_customer %>
  <p class="caption"><em><%= "#{info.comment_for_customer}"%></em></p>
<% end %>  
<div class="clear50"></div>
<%end%>