<%if info%>
<p class="title"><%= "#{preFix} - #{info.get_product_name} - #{info.get_product_destination}, #{info.get_product_country}" %></p>
<p class="caption"><%= "#{info.get_product_description}"%></p>
<div class="clear50"></div>
<%end%>
