<%if info %>

  <p class="title"><% if !info.get_group_classification.blank? %><span class="changecolor"><%= "#{info.get_group_classification} "%></span><% end %><%= "#{info.get_itinerary_header_details(preFix)}" %></p>
  <p class="caption"><%= "#{info.get_product_description}"%></p>
  <% if info.comment_for_customer %>
    <p class="caption"><em><%= "#{info.comment_for_customer}"%></em></p>
  <% end %>
  <div class="clear50"></div>
<%end%>
