<html>
  <head>
  <style type="text/css">
  .border { border-top:1px solid #000; padding-top: 12px; text-align: right;}
  .positionRight{position:relative;text-align:center;}
  </style>
      
    
    <script>
      function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
          
          if (x[i] == "page") {
            if (vars[x[i]] == 1 ){
              document.getElementsByClassName("footerContainer")[0].style.display = "none";
            }
          }
          
          var y = document.getElementsByClassName(x[i]);
          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }
       
      

       
    </script>
  </head>

  <body onload="number_pages()">
    <div class="footerContainer">
    <div class="border"></div>
    <div class="positionRight">Page <span class="page"></span> of <span class="topage"></span></div>
    </div>
  </body>
</html>