@import "bootstrap";
/*@import 'bootstrap-datetimepicker';*/

/*override some bootstrap stuff*/

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* hamish */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  }

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: #0064cd;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* STEVE */


.editicon {
	padding-top: 30px;
  padding-left: 10px;
}

.profile .profile-name h2{
	float: left;
	font-weight: bold;
}

.profile .profile-name button{
	float: right;
	margin: 20px 0px 0px 0px;
}

.profile .profile-name ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	clear: both;
}

.profile .profile-name ul li{
	padding: 5px 0px;
}

.profile .profile-name ul i{
	float: left;
	margin-top: 3px;
	margin-right: 10px;
}

.profile .profile-name ul i.fa-phone{
	font-size: 16px;
}

.profile .profile-name ul i.fa-mobile{
	margin-top: -5px;
	font-size: 30px;
}

.profile-details{
	margin: 0px;
	padding: 20px 0px 0px 0px;
	list-style: none;
}

.profile-details li{
	padding: 10px 0px 10px 0px;
}

.profile-details li.col-lg-5{
	clear: both;
}

.profile-details div{
	padding: 0px;
}

.profile-details-field{
	color: #989898;
	font-weight: bold;
}

.details-activity .well{
	margin-top: 20px;
}

.details-activity .btn.add-note{
	float: right;
	font-weight: bold;
	margin: 10px 0px 0px 0px;
}

.details-activity .activity h4, .details-activity .activity .btn-group{
	float: left;
}

.details-activity .activity .btn-group{
	margin: 3px 0px 0px 10px;
}

.history{
	width: 100%;
	margin: 0px;
	padding: 10px 0px 0px 0px;
	list-style: none;
}

.history li{
	display: inline-block;
	width: 100%;
	padding: 10px 0px 10px 0px;
	border-bottom: 1px solid #BBBBBB;
}

.history li .text-left{
	float: left;
}

.history li i, .history li .glyphicon{
	float: left;
	margin-top: 3px;
	margin-right: 20px;
}

.history li .text-right{
	float: right;
}

.avatar {
	margin-top: 18px;
}

.dashwell {
	margin-right: 10px;
}

.radio-inline {
  width: 40px;
  vertical-align: top;
}

/* fix date picker not lining up.  */
.input-group.date {
  left: 15px;
}

/* fix Select2 select boxes not fitting in bootstrap form-control css */
.form-control .select2-choice {
    border: 0;
    border-radius: 2px;
}

.form-control .select2-choice .select2-arrow {
    border-radius: 0 2px 2px 0;
}

.form-control.select2-container {
    height: auto !important;
    padding: 0px;
}

.form-control.select2-container.select2-dropdown-open {
    border-color: #5897FB;
    border-radius: 3px 3px 0 0;
}

.form-control .select2-container.select2-dropdown-open .select2-choices {
    border-radius: 3px 3px 0 0;
}

.form-control.select2-container .select2-choices {
    border: 0 !important;
    border-radius: 3px;
}


/*  NEW PRODUCTS PAGES */

.list-of-actions{
	list-style: none;
	margin: 0px 5%;
	padding: 0px;
	border-top: 1px solid #ededed;
}

.list-of-actions button{
	background: #e0e0e0;
	color: #505050;
	border: none;
}

.list-of-actions li{
	padding: 0px 0px 14px 0px;
	border-bottom: 1px solid #ededed;
}

.list-of-actions li h2{
	color: #287dc8;
	margin-top: 14px;
}

.list-of-actions button{
	float: right;
}
