

.profile .profile-name h2{
	float: left;
	font-weight: bold;
}

.profile .profile-name button{
	float: right;
	margin: 20px 0px 0px 0px;
}

.profile .profile-name ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	clear: both;
}

.profile .profile-name ul li{
	padding: 5px 0px;
}

.profile .profile-name ul i{
	float: left;
	margin-top: 3px;
	margin-right: 10px;
}

.profile .profile-name ul i.fa-phone{
	font-size: 16px;
}

.profile .profile-name ul i.fa-mobile{
	margin-top: -5px;
	font-size: 30px;
}

.profile-details{
	margin: 0px;
	padding: 20px 0px 0px 0px;
	list-style: none;
}

.profile-details li{
	padding: 10px 0px 10px 0px;
}

.profile-details li.col-lg-5{
	clear: both;
}

.profile-details div{
	padding: 0px;
}

.profile-details-field{
	color: #989898;
	font-weight: bold;
}

.details-activity .well{
	margin-top: 20px;
}

.details-activity .btn.add-note{
	float: right;
	font-weight: bold;
	margin: 10px 0px 0px 0px;
}

.details-activity .activity h4, .details-activity .activity .btn-group{
	float: left;
}

.details-activity .activity .btn-group{
	margin: 3px 0px 0px 10px;
}

.history{
	width: 100%;
	margin: 0px;
	padding: 10px 0px 0px 0px;
	list-style: none;
}

.history li{
	display: inline-block;
	width: 100%;
	padding: 10px 0px 10px 0px;
	border-bottom: 1px solid #BBBBBB;
}

.history li .text-left{
	float: left;
}

.history li i, .history li .glyphicon{
	float: left;
	margin-top: 3px;
	margin-right: 20px;
}

.history li .text-right{
	float: right;
}

.avatar {
	margin-top: 18px;
}

.dashwell {
	margin-right: 10px;
}