<% provide(:title, 'All Stopovers') %>
<div class="row-fluid">
  <div class="page-header">
    <%= render partial: 'admin/dashboard/entitydisplay', locals: { entity: Stopover, collect: @stopovers } %>
  </div>
</div> 