<% provide(:title, 'All Stopovers') %>
<h1>Stopovers</h1>
<%= link_to 'New Stopover', new_admin_carrier_path %>
<% @carriers.each do |stopover| %> 
<div> 
  <h2><%= link_to stopover.name, edit_admin_stopover_path(stopover) %>
    | <%= link_to "delete",admin_stopover_path(stopover), method: :delete,
                                  data: { confirm: "You sure?" } %></h2> 
</div> 
<% end %> 