<% provide(:title, @stopover.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @stopover.name %>
      </h1>
      <h2 text-align="left">
        <%= @stopover.name %>
      </h2>
    </section>
  </aside> 
</div>