<div class="input-field copy_template_cont input-field col s3" >
  <%= link_to copy_itinerary_template_path(@template), 
    class: 'waves-effect waves-light btn right green darken-1 tooltipped',
    data: { position: 'bottom', delay: '50', tooltip: 'Copy Itinerary Template' } do %>

    Copy Template

  <% end %>
</div>
