<% provide(:title, 'Templates') %>

<div class="section">
    <a href=<%= new_itinerary_template_path %> ><button type="button" class="waves-effect waves-light btn">Create New Template</button></a>
</div>

<div class="divider"></div>

<div class="section">
  <div id="table-datatables">
   <div class="row">
      <div class="col s12 m12 l12">
        <table id="ajax-data-table-simple" class="responsive-table display", data-source="<%= itinerary_templates_path(format: :json) %>" >
          <thead>
            <tr>
              <th>Name</th>
              <th>Created</th>
              <th>Updated</th>
              <th class="no-sort">Number Products</th>
              <th class="no-sort" >Edit</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>