<% provide(:title, "Itinerary Template") %>

<%= render  partial: 'form', locals: { buttontxt: "Create Template" } %>


<!--
<div class="sortable">
<div class="nested-fields">
    <div class ="card-panel">
    hi hamish
    </div>
</div>
<div class="nested-fields">
    <div class ="card-panel">
    hi hamish
    </div>
</div>
<div class="nested-fields">
    <div class ="card-panel">
    hi hamish
    </div>
    <div class ="card-panel">
    hi hamish
    </div>
</div>
</div>
-->