<a class="waves-effect waves-light btn grey modal-trigger tooltipped" href="#product_info_<%=@info.id || @cruise.object_id%>"
data-position="bottom" data-delay="50" data-tooltip="Product Info" >
  <i class="mdi-action-info-outline"></i>
</a> 

<% int = 0 %>
  <!-- Modal Structure -->
  <div id="product_info_<%=@info.id || @cruise.object_id%>" class="modal">
    <div class="modal-content">
      <h4><i class="mdi-action-list"></i>  Product Info</h4>

      <ul>
        <li>
          <div class="row">
            <div class="col offset-s1 s10">
              <p class="product_details" ><%= @info.get_product_details %></p>
            </div> 
            
            <div class="col offset-s1 s10">
              <p class="product_details" ><%= @info.get_product_description %></p>
            </div>             
          </div>
        </li> 
      </ul>
      
    </div>

    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-lighten-3 green btn-flat">Close</a>
    </div>
  </div>
