<% provide(:title, 'Edit Supplier') %>
<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel">

      <%= render  partial: 'form', locals: { buttontxt: "Update Supplier", action: "update" } %>
    </div>
  </div>
</div>