<% provide(:title, 'All Carriers') %>
<div class="row-fluid">
  <div class="page-header">
  <%= render partial: 'admin/dashboard/entitydisplay', locals: { entity: Carrier, collect: @carriers } %>
  </div>
</div> 