<div class="nested-fields">
  <div class="field">
    <%= render partial: 'shared/material_textfield', locals: { col: "s3", field: "description", f: f } %>
    <div class="input-field col s6"></div>
    <%= render partial: 'shared/material_textfield', locals: { col: "s3", field: "price_total", f: f } %>
  </div>
</div>