          <a href="<%= invoice_deposit_itinerary_prices_path f.object.invoice, format: :pdf %>"  class="btn-floating btn-tiny waves-effect waves-light purple" ><i class="mdi-maps-local-atm"></i></a>
          <a href="<%= invoice_remaining_itinerary_prices_path f.object.invoice, format: :pdf %>"  class="btn-floating btn-tiny waves-effect waves-light purple" ><i class="mdi-editor-attach-money"></i></a>
