<!-- Start card -->
  <div class="col-md-4">
    <div class="dashbox"> 
      <!-- Single button -->
      <div class="pull-right btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span> </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> More Info</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-plane"></span> Tour Details</a></li>
        <li class="divider"></li>
        <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Email</a></li>
      </ul>
      </div>
      <h3>Hoffman, Isabelle <small>Mrs</small></h3>
      <p> <span class="text-primary">Email: </span><span class="body"><%= enquiry.customers.first.email unless enquiry.customers.first.nil? %></span></p>
      <p> <span class="text-primary">Type: </span><span class="body">General Enquiry</span></p>
      <p> <span class="text-primary">Category: </span><span class="body"><%= enquiry.name %></span></p>
      <p> <span class="text-primary">Latest Comm: </span><span class="label label-success">Email, 7 March 2014</span> </p>
      <p> <span class="text-primary">Value: </span><span class="body">$22,000</span></p>
      <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
          85%
        </div>
      </div>
    </div>
  </div>
<!-- End card --> 
