<% provide(:title, 'Edit Enquiry') %>

<div class="section">
  <div class="row">
    <div class="col s12 m12 l12">
      <% if !@enquiry.is_booking %>
        <%= render  partial: 'form', locals: { buttontxt: "Update Enquiry" } %>
      <% end %>
    </div>
  </div>
</div>
