<% provide(:title, 'Edit Enquiry') %>
<h1 class="page-header">Edit Enquiry</h1>
<%  params[:user_type] = "Existing" %>
<%  params[:existing_customer] = @enquiry.customers.first.id.to_s unless @enquiry.customers.empty? %>

<%= render  partial: 'form', locals: { buttontxt: "Update Enquiry" } %>