<% provide(:title, 'Create Enquiry') %>
<h4 class="page-header">New Enquiry</h4>
<div class="row">
  <div class="col s12 m12 l12">
    <%= render  partial: 'form', locals: { buttontxt: "Create an Enquiry" } %>
  </div>
</div>